body {
	margin:0rem; background-color:grey; width:100%;
	#btn-get-started { background-color:#FF52BF; color:#ffffff; }

	#wrapper {/*background-color:yellow;*/ position:relative; width:100%; }
	header { 
		position:absolute; width:100%; padding: 1rem;
		// #header-wrapper { display:flex; justify-content:space-between; }
		#btn-try { background-color:#ffffff; border-color:#FF52BF; color:#FF52BF; }
	}
	main { 
		/*background-color:red;*/ min-height:100vh; width:100%;
		padding-top:4.4375rem; /* to calculate with var */
		#advertisment { 
			text-align:center;
		}
		#mockups-container {
			width:60%; margin:2rem auto; 
			img { max-width:100%; }
		}
		#numbers {
			#communities {
				text-align:left; 
				#communities-num { font-size:3rem; margin:1rem 0rem; } 
			}
			#messages {
				text-align:left;
				#messages-num { font-size:3rem; margin:1rem 0rem; } 
			}
		}
		#grow-together {
			#grow-container { width:30%; }
			.img-container { 
				width:30%;
				img { max-width:100%; }
			}
		}
		#flowing-conversations {
			#flowing-container { width:30%; display:flex; flex-direction:column; }
			.img-container { 
				width:30%;
				img { max-width:100%; }
			}		
		}
		#your-users {
			#users-container { width:30%; }
			.img-container { 
				width:30%;
				img { max-width:100%; }
			}		
		}

		#img-bottom { 
			padding-bottom:19.9375rem;
			img { color:#00252E; }
		}
	}
	footer { background-color:#00252E; position:absolute; bottom:0; width:100%; color:#ffffff;
		.img-container { img { filter:invert(100%); } }
		#subscription-container { input { padding:0.375rem 3rem; } }
	}
}


@media (max-width: 375px) { 
	img { width: 60%; }
	#advertisment { background-size:85%; }
}

@media (max-width: 768px) {
	#advertisment {
		p { width:50%!important; }
	}

	#phone-container {
		p { white-space:nowrap; }
	}

	#subscription-container {
		display:block!important;
		input {  }
		#btn-container { margin-left:auto!important; margin-top:2rem; }
	}
}

